/* About Us Section Start  */

.aboutUs-section{
    display: flex;
    flex-direction: column;
    padding-top: 232px;
    width: 100%;

}
.aboutUs-heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 24px;

}
.aboutUs-subheading{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 21px;
}
.aboutUs-subheading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.aboutUs-subheading1{
    max-width: 591px;
}


.aboutus-img{
    height: 675px;
    width: 100%;
}

.aboutus-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 117px;
    background: rgba(129, 194, 22, 0.1);
}

.footer-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.aboutus-footer-h1{
  
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #4F4F4F;
    margin-left: 34px;

}
.aboutus-footerflex1{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.aboutus-footerflex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    
}
.aboutus-footer1{
  display: flex;
  flex-direction: row;
}
.aboutus-footerflex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    
}
.aboutus-footerflex4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    
}
.aboutus-footer-h2{
   
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #333333;

}
.aboutus-footer-h3{

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 7px;

}

@media screen and (max-width:980px) {

    .aboutUs-section {
        padding-top: 147px;

    }

    .aboutUs-heading{
      
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }
    .aboutUs-subheading{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }
    .aboutUs-subheading p{
      
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    }
    .aboutus-img{
        height: 193px;
        width: 100%;
    }

    .aboutus-footer{
        flex-direction: column;
        overflow: hidden;
        height:auto;
        padding-bottom: 38px;
    

    }
    .aboutus-footer1{
        width: 100%;
       height: auto;
        
    }
    aboutus-footer{
        max-width: 295px;
    }
    .aboutus-footer-h1{
        
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .aboutus-footer-h2{
      
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.02em;
        text-align: center;
        
        
    }
    .aboutus-footer-h3{
     
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        text-align: center;

    }
    .aboutus-footerflex2{
        margin-left: 40px;
    }
    .aboutus-footerflex4{
        margin-right: 40px;
    }
 

}







/* Our Impact Section Start  */

.impact_section {
    padding: 120px var(--max-hor-padding);
    align-items: center;
}




.impact_section .content_section {
    gap: 20px;
}





.impact_section .content_section>p {
    max-width: 586px;
}



.impact_section .content_section>.btn {
    margin-top: 40px;
}





@media screen and (max-width:980px) {
    .impact_section {
        padding: 50px var(--max-hor-padding);
        gap: 30px;
    }

    .impact_section .content_section>p {
        max-width: 100%;
    }
}


/* Our Impact Section End  */







/* Our Values Section Start  */

.our-values{
    padding-top: 90px;
    padding-bottom: 114px;
    background: rgba(129, 194, 22, 0.1);
}
.our-values-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}
.our-values-heading{
 
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    flex: 1;

}
.our-values-subheading{
  
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 0.8);
    flex: 1;
    margin-left: 47px;

}
.our-values-bottom,.our-values-bottom1{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.our-values-bottom2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.bottom-div{
    display: flex;
    margin-right: 47px;
    flex: 1;
}

.bottom-div1{
    display: flex;
    flex:1;
}

.our-value-img{
    display: block;
    margin-right: 15px;
    width: 50px;
    height: 50px;
  
}

.heading1{
   
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 7px;

}
.subheading1{
   
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 390px;
    color: rgba(51, 51, 51, 0.8);

}

@media screen and (max-width:980px) {

.our-values{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.our-values p{
    max-width: 100%;
    text-align: left;
}

.our-values-subheading{
    margin-left: 0px;
}

.our-values-top{
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}
.our-value-img{
    width: 40px;
    height: 40px;
}

.our-values-bottom, .our-values-bottom1, .our-values-bottom2{
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}


}
