.home_section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/home.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 255px;
    padding-bottom: 50px;
}


.home_section>.desc {
    max-width: 631px;
    text-align: center;
    color: #ffffffcc;
}



.home_section .btn {
    margin-top: 40px;
}




.home_section .progress-bar-container {
    width: 100%;
    margin-top: 170px;
}

.home_section .progress-bar-container .progress-bar {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #ffffff4d;
}


.home_section .progress-bar-container .progress-bar .progress {
    display: block;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background: var(--green-color);
}





.home_section .progress-bar-container .num-btn-container {
    width: 100%;
    margin-top: 20px;
}


.home_section .progress-bar-container .cur-slide-num {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}



.home_section .progress-bar-container .num-btn-container .next-prev-btns {
    display: inline-flex;
    gap: 26px;
}


.home_section .progress-bar-container .num-btn-container .next-prev-btns i {
    color: #ffffffcc;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}











/* Organisations Support Section Start  */

.orgs_support_section {
    display: flex;
    gap: 140px;
    align-items: center;
    height: 130px;
    padding-right: 0;
}



.orgs_support_section h4 {
    min-width: fit-content;
    font-weight: 400;
    color: var(--black-80);
}



.orgs_support_section .organisations {
    display: inline-flex;
    align-items: center;
    gap: 100px;
}


.orgs_support_section .organisations img.org_item {
    max-height: 100xp;
    object-fit: contain;
    object-position: center;
    -o-object-fit: contain;
    -o-object-position: center;
}





@media screen and (max-width:980px) {
    .orgs_support_section {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 40px 10px;
    }

    .orgs_support_section .organisations {
        gap: 40px;
    }
}


/* Organisations Support Section End */













/* Nurturing Section Start  */
.nurturing_section {
    background: var(--black-5);
    height: 200px;
    display: flex;
    align-items: center;
}


.nurturing_section .section_left {
    width: 50%;
}


.nurturing_section .section_left>.heading {
    max-width: 368px;
}




.nurturing_section .section_right {
    width: 50%;
}


.nurturing_section .section_right>p {
    max-width: 560px;
}




@media screen and (max-width:980px) {
    .nurturing_section {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 30px;
        height: auto;
        gap: 10px;
    }

    .nurturing_section .section_left {
        width: 100%;
    }

    .nurturing_section .section_right>p,
    .nurturing_section .section_left>.heading {
        max-width: 100%;
    }

    .nurturing_section .section_right {
        width: 100%;
    }
}

/* Nurturing Section End  */











/* Our Impact Section Start  */

.impact_section {
    padding: 120px var(--max-hor-padding);
    align-items: center;
}




.impact_section .section_right {
    flex-direction: column;
    gap: 20px;
}


.impact_section .section_right>h1.heading {}



.impact_section .section_right>p {
    max-width: 586px;
}



.impact_section .section_right>.btn {
    margin-top: 40px;
}





@media screen and (max-width:980px) {
    .impact_section {
        padding: 50px var(--max-hor-padding);
        gap: 30px;
    }

    /* .impact_section .section_left,
    .impact_section .section_right {
        width: 100%;
    } */
    /* .impact_section .section_left {
        border-radius: 10px 50px 10px 10px;
        overflow: hidden;
    }

    .impact_section .section_left>img {
        width: 100%;
        height: min-content;
        object-fit: cover;
        object-position: center;
        max-height: 550px;
    } */
    .impact_section .section_right>p {
        max-width: 100%;
    }
}





/* Our Impact Section End  */












/* Our Solutions Section Start  */


.solutions_section {
    width: 100%;
    background: var(--green-10);
    display: flex;
    flex-direction: column;
    gap: 60px;
}



.solutions_section .head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.solutions_section .head>.heading {
    width: 50%;
}



.solutions_section .head>p {
    width: 50%;
}






.solutions_section .tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #fff;
    border: 2px solid var(--black-5);
    border-radius: 6px 30px 6px 6px;
    gap: 80px;
}


.solutions_section .tabs .tab_item {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 16px 30px;
    border-bottom: 2px solid transparent;
    text-align: center;
}

.solutions_section .tabs .tab_item.active {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    color: var(--black);
    border-color: var(--green-color);
}





/* .solutions_section .tab_content_view {
    width: 100%;
    display: flex;
} */



.solutions_section .tab_content_view .section_left {
    flex-direction: column;
}
/* 

.solutions_section .tab_content_view .section_left>.heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;
} */


/* 

.solutions_section .tab_content_view .section_left .checked_items {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.solutions_section .tab_content_view .section_left .checked_items .check_item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
} */

/* 
.solutions_section .tab_content_view .section_left .checked_items .check_item i {
    font-size: 24px;
    color: var(--green-color);
} */





/* 
.solutions_section .tab_content_view .section_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 100px 10px 10px;
    overflow: hidden;
} */

/* 

.solutions_section .tab_content_view .section_right > img {
    max-width: 100%;
} */




@media screen  and (max-width:980px) {
    .solutions_section{
        padding-top: 40px;
        padding-bottom: 50px;
        gap: 30px;
    }
    .solutions_section .head {
        flex-direction: column;
    }
    .solutions_section .head>p,
    .solutions_section .head > .heading {
        width: 100%;
    }
    .solutions_section .tabs_container {
        width: 100vw;
        overflow-x: scroll;
        border-radius: 10px;
        margin-left: calc(var(--max-hor-padding) * -1);
    }
    .solutions_section .tabs{
        min-width: 100%;
        gap: 50px;
        width: max-content;
        padding: 0 10px;
    }
    .solutions_section .tabs .tab_item{
        padding: 16px 10px;
    }
    .solutions_section .tab_content_view{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .solutions_section .tab_content_view .section_right,
    .solutions_section .tab_content_view .section_left {
        width: 100%;
    }
    .solutions_section .tab_content_view .section_right {
        justify-content: center;
    }
    
    .solutions_section .tab_content_view .section_right > img {
        width: 100%;
        height: min-content;
        object-fit: cover;
        object-position: center;
        max-height: 550px;
    }
}



/* Our Solutions Section End  */


























/* Articles And News Section Start  */








.articles_and_news_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-bottom: 50px;
    background: var(--black-5);
}


.articles_and_news_section .content {
    width: 100%;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-template-areas: 
    "article-1 article-2"
    "article-1 article-3"
    "article-1 article-4";
    gap: 20px;
}


.articles_and_news_section .content .article:first-child{
    grid-area: article-1;
    flex-direction: column;
}

.articles_and_news_section .content .article:first-child > img {
    width: 100%;
    height: 280px;
}




.articles_and_news_section .content .article {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 10px 50px 10px 10px;
    overflow: hidden;
}


.articles_and_news_section .content .article>img {
    min-width: 140px;
    width: 33%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.articles_and_news_section .content .article .article_info {
    padding: 22px;
}



.articles_and_news_section .tags {
    display: flex;
    gap: 28px;
    align-items: center;
}





.articles_and_news_section .tags .tag_item {
    height: min-content;
    width: auto;
    position: relative;
}

.articles_and_news_section .tags .tag_item::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--green-color);
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    border-radius: 100%;
}

.articles_and_news_section .tags .tag_item:last-child:after {
    display: none;
}












/* 

.articles_and_news_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-bottom: 50px;
    background: var(--black-5);
}


.articles_and_news_section .content {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.articles_and_news_section .content .section_left {
    width: 50%;
    max-width: 600px;
}



.articles_and_news_section .content .section_left .article {
    width: 100%;
    background-color: #fff;
    border-radius: 10px 50px 10px 10px;
    overflow: hidden;
}


.articles_and_news_section .content .section_left .article>img {
    width: 100%;
}

.articles_and_news_section .content .section_left .article .article_info {
    padding: 22px;
}



.articles_and_news_section .tags {
    display: flex;
    gap: 28px;
    align-items: center;
}





.articles_and_news_section .tags .tag_item {
    height: min-content;
    width: auto;
    position: relative;
}

.articles_and_news_section .tags .tag_item::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--green-color);
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    border-radius: 100%;
}

.articles_and_news_section .tags .tag_item:last-child:after {
    display: none;
}









.articles_and_news_section .content .section_right {
    max-width: 600px;
}

.articles_and_news_section .content .section_right .news_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.articles_and_news_section .content .section_right .news_list .news_item {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: #fff;
    border-radius: 10px 50px 10px 10px;
    overflow: hidden;
}


.articles_and_news_section .content .section_right .news_list .news_item>img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
}

.articles_and_news_section .content .section_right .news_list .news_item .news_item_info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.articles_and_news_section .content .section_right .news_list .news_item .news_item_info .heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
} */




/* Articles And News Section End  */