



.home_section {
    padding-top: 175px;
    padding-bottom: 70px;
}


.home_section .section_left > .heading {
    max-width: 525px;
}

.home_section .section_left > .btn {
    margin-top: 60px;
}



@media screen and (max-width:980px) {
    .home_section {
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .home_section .section_left > .btn {
        margin-top: 30px;
    }
}










/* Process Section Style  */

.process_section {
    padding: 90px var(--max-hor-padding);
}

.process_section .section_left>.heading {
    max-width: 400px;
}


.process_section .section_left>p.desc {
    max-width: 422px;
}


.process_section {
    background: url(../images/boxes.png) no-repeat;
    background-position-x: 80px;
    background-position-y: calc(100% - 90px);
}









@media screen and (max-width: 980px) {
    .process_section {
        gap: 30px;
        padding-top: 0;
        padding-bottom: 370px;
        background-position-x: -65px;
        background-position-y: calc(100% - 50px);
    }

    .process_section .section_right,
    .process_section .section_left {
        width: 100%;
    }

    .process_section .section_left h1 {
        font-size: 30px;
        line-height: 38px;
    }

    .process_section .section_left h1,
    .process_section .section_left p {
        display: block;
        width: 100%;
        max-width: none;
    }
}











.tech_stack_section {
    background: #81C216;
    padding: 90px var(--max-hor-padding);
}


.tech_stack_section .section_left>.heading {
    max-width: 570px;
}


.tech_stack_section .section_left>p.desc {
    width: 100%;
    max-width: 610px;
}


.tech_stack_section .section_left > .btn {
    margin-top: 60px;
}






@media screen and (max-width: 980px) {
    .tech_stack_section {
        gap: 30px;
        padding: 50px var(--max-hor-padding);
    }

    .tech_stack_section .section_right,
    .tech_stack_section .section_left {
        width: 100%;
    }

    .tech_stack_section .section_left > .btn {
        margin-top: 40px;
    }
}














/* Freebie Section Style  */



.freebie_section {
    background: #3333330d;
    padding-top: 135px;
    padding-bottom: 110px;
}



.freebie_section .section_left>.heading {
    max-width: 359px;
}


.freebie_section .section_left>p {
    max-width: 590px;
    line-height: 26px;
}


.freebie_section .section_right {
    padding-right: 30px;
}













@media screen and (max-width: 980px) {
    .freebie_section {
        gap: 50px;
        padding: 50px var(--max-hor-padding);
    }

    .freebie_section .section_right,
    .freebie_section .section_left {
        width: 100%;
    }

    .freebie_section .section_left h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .freebie_section .section_left p {
        font-size: 14px;
        line-height: 22px;
    }

    .freebie_section .section_left h1,
    .freebie_section .section_left p {
        display: block;
        width: 100%;
        max-width: none;
    }

}

















.whether_section {
    padding: 90px var(--max-hor-padding);
    align-items: center;
}



.whether_section .section_right {
    flex-direction: column;
}





@media screen and (max-width: 980px) {
    .whether_section {
        gap: 30px;
        padding: 50px var(--max-hor-padding);
    }
}














.reviews_section {
    padding-top: 50px;
    padding-bottom: 50px;
}



@media screen and (max-width: 980px) {
    .reviews_section {
        padding-top: 0px;
    }
    .whether_section .section_left,
    .whether_section .section_right {
        width: 100%;
    }
}









