
/* Home Section Style  */


.ltri_section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


.ltri_section.align_start{
    align-items: flex-start;
}

.ltri_section .section_left {
    display: flex;
    flex-direction: column;
}



.ltri_section .section_left > p.desc {
    max-width: 550px;
}


.ltri_section .section_left .heading {
}

.ltri_section.left_image .section_left,
.ltri_section.right_image .section_right {
    border-radius: 10px 100px 10px 10px;
    overflow: hidden;
}



.ltri_section .section_right {
    display: flex;
    justify-content: flex-end;
}


.ltri_section .section_right > img {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}







@media screen and (max-width: 980px) {
    .ltri_section {
        gap: 50px;
        flex-direction: column;
    }

    .ltri_section .section_right,
    .ltri_section .section_left {
        width: 100%;
    }

    .ltri_section .section_left h1 {
        font-size: 38px;
    }

    .ltri_section .section_left p {
        font-size: 16px;
    }

    .ltri_section .section_left button {
        font-size: 14px;
    }

    .ltri_section .section_left h1,
    .ltri_section .section_left p {
        display: block;
        width: 100%;
    }
    
    .ltri_section .section_right {
        justify-content: flex-start;
    }

    

    .ltri_section.left_image .section_left,
    .ltri_section.right_image .section_right {
        border-radius: 10px 50px 10px 10px;
        overflow: hidden;
        justify-content: flex-start;
        object-fit: cover;
        object-position: center;
    }
    .ltri_section.left_image .section_left img,
    .ltri_section.right_image .section_right img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        object-position: center;
        max-height: 550px;
    }

    .btn {
        font-size: 14px;
        line-height: 22px;
    }
}
