

/* Delivered Projects Section Start  */



.projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-bottom: 20px;
}


.projects_section .projects {
    display: flex;
    flex-direction: row;
    gap: 20px;
}




.projects_section .project_item {
    width: 386px;
    padding: 20px;
    background: var(--black-5);
    border-radius: 10px 50px 10px 10px;
    padding-bottom: 15px;
    height: min-content;
    max-width: 80%;
}


.projects_section .projects .project_item .project_info {
    display: flex;
    flex-direction: column;
    height: min-content;
    gap: 10px;
    padding-top: 15px;
}



/* Delivered Projects Section End  */


